<div class="template-publicacion">
  <h5>Nueva Publicación</h5>
  <div class="form-group">
    <label for="titulo">Título</label>
    <input type="text" class="form-control" id="titulo" required [(ngModel)]="titulo">
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción</label>
    <textarea class="form-control" id="descripcion" rows="3" required [(ngModel)]="descripcion"></textarea>
  </div>
  <div class="form-group">
    <label for="imagen">Imagen</label>
    <input type="file" class="form-control-file" id="imagen" (change)="onFileChange($event)">
  </div>
  <div *ngIf="imagenUrl">
    <img [src]="imagenUrl" alt="Vista previa de la imagen" class="img-fluid mt-3"/>
  </div>
  <button class="btn btn-primary mt-3" (click)="guardar()">Guardar</button>
</div>