<div class="container">
  <header>
    <div class="social-icons">
      <i class="fa fa-instagram"></i>
      <i class="fa fa-tiktok"></i>
      <i class="fa fa-facebook"></i>
      <i class="fa fa-linkedin"></i>
    </div>
    <div class="title">IT'S ME</div>
    <button class="book-now">Login</button>
  </header>
  <div class="content">
    <div class="image-container">
      <img
        src="https://i.pinimg.com/564x/db/c9/a0/dbc9a039768b5dcbc674e3d6bf1da0a5.jpg"
        alt="Durisimo"
      />
    </div>
    <div class="description">
      <h1>
        BATHHOUSE IS A HOME FOR PEOPLE WHO STRIVE TO LOOK, FEEL AND PERFORM
        THEIR VERY BEST.
      </h1>
      <button class="book-visit">Book Your Visit</button>
    </div>
  </div>
</div>
