/* ngx-toastr styles */
.toast-container {
  position: fixed;
  z-index: 999999;
}
.toast-container .toast {
  background-color: #f0ad4e;
  border: 1px solid #f5e79e;
  border-radius: 4px;
  box-shadow: 0 0 12px #999999;
  padding: 15px;
  color: #ffffff;
  margin: 15px;
  cursor: pointer;
  opacity: 0.8;
}
.toast-container .toast:hover {
  opacity: 1;
}
.toast-container .toast-success {
  background-color: #5cb85c;
}
.toast-container .toast-error {
  background-color: #d9534f;
}
.toast-container .toast-info {
  background-color: #5bc0de;
}
.toast-container .toast-warning {
  background-color: #f0ad4e;
}
/* Fin de los estilos ngx-toastr */

/* Agrega tus estilos personalizados aquí */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
}

.header,
.footer {
  background-color: #111;
  padding: 10px 20px;
  color: #fff;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  background-color: #000;
}

router-outlet {
  flex: 1;
}
