<div class="container mt-5">
  <div *ngIf="usuario" class="profile-info mb-4 p-4 border rounded">
    <div class="position-relative">
      <img
        [src]="usuario.foto || 'https://via.placeholder.com/150'"
        alt="Foto de Perfil"
        class="profile-pic mr-3"
      />
      <input
        *ngIf="editMode"
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
        class="file-input"
      />
      <p *ngIf="editMode" class="add-photo-text">
        {{ usuario.foto ? "Actualiza tu foto" : "Agrega una foto" }}
      </p>
      <p
        *ngIf="editMode && usuario.foto"
        (click)="removePhoto()"
        class="text-danger delete-photo-text"
      >
        Eliminar foto
      </p>
    </div>
    <div class="info">
      <h3 *ngIf="!editMode">{{ usuario.nombre }}</h3>
      <div *ngIf="editMode">
        <input
          *ngIf="editMode"
          [(ngModel)]="usuario.nombre"
          [formControl]="nombre"
          class="form-control mb-2"
          placeholder="Ingresa tu nombre completo"
        />
        <div
          *ngIf="nombre.errors?.required && nombre.touched"
          class="text-danger"
        >
          El nombre es requerido.
        </div>
        <div
          *ngIf="nombre.errors?.minlength && nombre.touched"
          class="text-danger"
        >
          El nombre debe tener al menos 20 caracteres.
        </div>
      </div>

      <p *ngIf="!editMode">{{ usuario.username }}</p>
      <div *ngIf="editMode">
        <input
          *ngIf="editMode"
          [(ngModel)]="usuario.username"
          [formControl]="username"
          class="form-control mb-2"
          placeholder="Ingresa tu username"
        />
        <div
          *ngIf="username.errors?.required && username.touched"
          class="text-danger"
        >
          El username es requerido.
        </div>
      </div>

      <p *ngIf="!editMode" [ngClass]="{ opaco: !usuario.descripcion }">
        {{
          usuario.descripcion ||
            "No tienes descripción, date a conocer y agrega una :)"
        }}
      </p>
      <textarea
        *ngIf="editMode"
        [(ngModel)]="usuario.descripcion"
        class="form-control mb-2"
        placeholder="Describe quien eres"
      ></textarea>

      <button
        class="btn btn-primary position-absolute btn-edit"
        (click)="editMode ? checkUpdate() : toggleEditMode()"
        [disabled]="editMode && profileForm.invalid"
      >
        {{ editMode ? "Guardar" : "Editar" }}
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-categoria">Mis Categorías</h2>
    <button class="btn btn-primary" (click)="openCategoryModal()">
      Nueva Categoría
    </button>
  </div>

  <div class="row">
    <div *ngFor="let categoria of categorias" class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ categoria.titulo }}</h5>
          <p class="card-text">{{ categoria.descripcion }}</p>
          <div
            class="card-actions d-flex justify-content-between align-items-center"
          >
            <button class="btn btn-primary" (click)="openModal(categoria)">
              {{ hasContent ? "Ver Contenido" : "Agregar Contenido" }}
            </button>
            <div>
              <button
                type="button"
                class="btn btn-outline-info btn-sm"
                (click)="openCategoryModal(categoria)"
              >
                <i class="bi bi-pencil"></i>
              </button>

              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="deleteCategory(categoria)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para seleccionar plantilla -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Seleccionar Plantilla</h4>
      <button type="button" class="close" (click)="closeModal()">
        &times;
      </button>
    </div>
    <div class="modal-body">
      <div>
        <label>
          <input
            type="radio"
            [(ngModel)]="selectedTemplate"
            value="template1"
          />
          Lista
        </label>
        <label>
          <input
            type="radio"
            [(ngModel)]="selectedTemplate"
            value="template2"
          />
          Lista comparativa
        </label>
        <label>
          <input
            type="radio"
            [(ngModel)]="selectedTemplate"
            value="template3"
          />
          Imagen
        </label>
      </div>

      <div *ngIf="selectedTemplate">
        <app-lista
          *ngIf="selectedTemplate === 'template1'"
          [contentData]="contentData"
        ></app-lista>
        <app-listacomparativa
          *ngIf="selectedTemplate === 'template2'"
          [contentData]="contentData"
        ></app-listacomparativa>
        <app-imagen
          *ngIf="selectedTemplate === 'template3'"
          [contentData]="contentData"
        ></app-imagen>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="saveContent()">Guardar</button>
      <button class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div *ngIf="showModalCategory" class="category-modal modal">
  <div class="category-modal-content modal-content">
    <span class="close" (click)="closeCategoryModal()">&times;</span>
    <h2>
      {{ selectedCategory ? "Editar Categoría" : "Crear Nueva Categoría" }}
    </h2>
    <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
      <div class="form-group">
        <label for="titulo">Título</label>
        <input
          type="text"
          id="titulo"
          formControlName="titulo"
          class="form-control"
          required
        />
        <div
          *ngIf="
            categoryForm.get('titulo')?.invalid &&
            categoryForm.get('titulo')?.touched
          "
          class="text-danger"
        >
          El título es requerido.
        </div>
      </div>
      <div class="form-group">
        <label for="body">Descripción</label>

        <textarea
          type="text"
          id="descripcion"
          formControlName="descripcion"
          class="form-control"
        ></textarea>
      </div>
      <div class="modal-buttons">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="categoryForm.invalid"
        >
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeCategoryModal()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
