<div class="container mt-5">
  <div *ngIf="usuario" class="profile-info mb-4 p-4 border rounded">
    <div class="position-relative">
      <img
        [src]="usuario.foto || 'https://via.placeholder.com/150'"
        alt="Foto de Perfil"
        class="profile-pic mr-3"
      />
      <input
        *ngIf="editMode"
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
        class="file-input"
      />
      <p *ngIf="editMode" class="add-photo-text">
        {{ usuario.foto ? "Actualiza tu foto" : "Agrega una foto" }}
      </p>
      <p
        *ngIf="editMode && usuario.foto"
        (click)="removePhoto()"
        class="text-danger delete-photo-text"
      >
        Eliminar foto
      </p>
    </div>
    <div class="info">
      <h3 *ngIf="!editMode">{{ usuario.nombre }}</h3>
      <div *ngIf="editMode">
        <input
          *ngIf="editMode"
          [(ngModel)]="usuario.nombre"
          [formControl]="nombre"
          class="form-control mb-2"
          placeholder="Ingresa tu nombre completo"
        />
        <div
          *ngIf="nombre.errors?.required && nombre.touched"
          class="text-danger"
        >
          El nombre es requerido.
        </div>
        <div
          *ngIf="nombre.errors?.minlength && nombre.touched"
          class="text-danger"
        >
          El nombre debe tener al menos 20 caracteres.
        </div>
      </div>

      <p *ngIf="!editMode">{{ usuario.username }}</p>
      <div *ngIf="editMode">
        <input
          *ngIf="editMode"
          [(ngModel)]="usuario.username"
          [formControl]="username"
          class="form-control mb-2"
          placeholder="Ingresa tu username"
        />
        <div
          *ngIf="username.errors?.required && username.touched"
          class="text-danger"
        >
          El username es requerido.
        </div>
      </div>

      <p *ngIf="!editMode" [ngClass]="{ opaco: !usuario.descripcion }">
        {{
          usuario.descripcion ||
            "No tienes descripción, date a conocer y agrega una :)"
        }}
      </p>
      <textarea
        *ngIf="editMode"
        [(ngModel)]="usuario.descripcion"
        class="form-control mb-2"
        placeholder="Describe quien eres"
      ></textarea>

      <button
        class="btn btn-primary position-absolute btn-edit"
        (click)="editMode ? checkUpdate() : toggleEditMode()"
        [disabled]="editMode && profileForm.invalid"
      >
        {{ editMode ? "Guardar" : "Editar" }}
      </button>
      <button
        class="btn btn-outline-danger position-absolute"
        (click)="deleteProfile()"
      >
        Eliminar
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-categoria">Mis Categorías</h2>
    <button class="btn btn-primary" (click)="openCategoryModal()">
      Nueva Categoría
    </button>
  </div>

  <div class="row">
    <div *ngFor="let categoria of categorias" class="col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ categoria.titulo }}</h5>
          <p class="card-text">{{ categoria.descripcion }}</p>
          <div
            class="card-actions d-flex justify-content-between align-items-center"
          >
            <button class="btn btn-primary" (click)="openModal(categoria)">
              {{ categoria.hasContent ? "Ver Contenido" : "Agregar Contenido" }}
            </button>
            <div>
              <button
                type="button"
                class="btn btn-outline-info btn-sm"
                (click)="openCategoryModal(categoria)"
              >
                <i class="bi bi-pencil"></i>
              </button>

              <button
                type="button"
                class="btn btn-outline-danger btn-sm"
                (click)="deleteCategory(categoria)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para seleccionar plantilla -->
<div *ngIf="showModal" class="modal modal-plantilla">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Seleccionar Plantilla</h4>
      <button type="button" class="close" (click)="closeModal()">
        &times;
      </button>
    </div>
    <div class="modal-body">
      <div class="radio-group">
        <label *ngFor="let plantilla of plantillas">
          <input
            type="radio"
            name="plantilla"
            [(ngModel)]="selectedTemplate"
            [ngModelOptions]="{ standalone: true }"
            [value]="plantilla"
            (change)="onTemplateSelect(plantilla)"
          />
          {{ plantilla.nombre }}
        </label>
      </div>

      <ng-container *ngIf="selectedTemplate">
        <app-lista
          *ngIf="selectedTemplate?.identificador === 'app-lista'"
          [contentData]="contentData"
        ></app-lista>
        <app-listacomparativa
          *ngIf="selectedTemplate?.identificador === 'app-listacomparativa'"
          [contentData]="contentData"
        ></app-listacomparativa>
        <app-imagen
          *ngIf="selectedTemplate?.identificador === 'app-imagen'"
          [contentData]="contentData"
        ></app-imagen>
      </ng-container>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="saveContent()">Guardar</button>
      <button class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
    </div>
  </div>
</div>

<!-- Modal Categorías-->
<div *ngIf="showModalCategory" class="category-modal modal">
  <div class="category-modal-content modal-content">
    <span class="close" (click)="closeCategoryModal()">&times;</span>
    <h2>
      {{ selectedCategory ? "Editar Categoría" : "Crear Nueva Categoría" }}
    </h2>
    <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
      <div class="form-group">
        <label for="titulo">Título</label>
        <input
          type="text"
          id="titulo"
          formControlName="titulo"
          class="form-control"
          required
        />
        <div
          *ngIf="
            categoryForm.get('titulo')?.invalid &&
            categoryForm.get('titulo')?.touched
          "
          class="text-danger"
        >
          El título es requerido.
        </div>
      </div>
      <div class="form-group">
        <label for="body">Descripción</label>

        <textarea
          type="text"
          id="descripcion"
          formControlName="descripcion"
          class="form-control"
        ></textarea>
      </div>
      <div class="modal-buttons">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="categoryForm.invalid"
        >
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeCategoryModal()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal para mostrar contenido de la lista numerada -->
<div *ngIf="showContentModal" class="modal modal-plantilla">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Detalle de Lista Numerada</h4>
      <button type="button" class="close" (click)="closeContentModal()">
        &times;
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="listTitle">Nombre de la Lista</label>
        <input
          type="text"
          class="form-control"
          [value]="currentContent?.titulo"
          disabled
        />
      </div>
      <ol>
        <li *ngFor="let item of listElements; let i = index">
          <input type="text" class="form-control" [value]="item" disabled />
        </li>
      </ol>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="closeContentModal()">
        Cerrar
      </button>
    </div>
  </div>
</div>

<!-- Modal para mostrar contenido de la lista comparativa -->
<div *ngIf="showComparativaModal" class="modal modal-plantilla">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Detalle de Lista Comparativa</h4>
      <button type="button" class="close" (click)="closeComparativaModal()">
        &times;
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="comparativaTitulo">Título</label>
        <input
          type="text"
          class="form-control"
          [value]="comparativaTitulo"
          disabled
        />
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>{{ columna1Titulo }}</th>
            <th>{{ columna2Titulo }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of columna1Rows; let i = index">
            <td>
              <input type="text" class="form-control" [value]="row" disabled />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                [value]="columna2Rows[i]"
                disabled
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="closeComparativaModal()">
        Cerrar
      </button>
    </div>
  </div>
</div>

<!-- Modal para mostrar contenido de la publicación -->
<div *ngIf="showPublicacionModal" class="modal modal-plantilla">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Detalle de Publicación</h4>
      <button type="button" class="close" (click)="closePublicacionModal()">
        &times;
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="publicacionTitulo">Título</label>
        <input
          type="text"
          class="form-control"
          [value]="publicacionTitulo"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="publicacionDescripcion">Descripción</label>
        <textarea
          class="form-control"
          [value]="publicacionDescripcion"
          disabled
        ></textarea>
      </div>
      <div *ngIf="imagenUrl">
        <img [src]="imagenUrl" alt="Imagen" class="img-fluid mt-3" />
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="closePublicacionModal()">
        Cerrar
      </button>
    </div>
  </div>
</div>
