<div class="container mt-5">
    <h1 class="mb-4">Perfil</h1>
    <div class="row">
       
        <div class="col-md-4">
            <h2>Crear Categoría</h2>
            <form method="POST">
                <div class="form-group">
                    <label for="category_name">Nombre de la Categoría</label>
                    <input type="text" class="form-control" id="category_name" name="category_name" required>
                </div>
                <button type="submit" class="btn btn-primary">Crear</button>
            </form>
        </div>
    
        <div class="col-md-8">
            <h2>Categorías</h2>
            <div class="row">
                
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title"> category.name </h5>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
