.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
  }
  
  .profile-info .info {
    margin-left: 20px;
  }
  